/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#map-container { height: 400px; }

dl {
	margin: 2em 0;
	padding: 0;
	width: 20em;
}

 dt {
	background-color: #131210;
	color: #959289;
	padding: .5em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	border-left: 1px solid #131210;
	border-right: 1px solid #131210;
	border-top: 1px solid #131210;
}

dd {
	margin: 0 0 1em 0;
	background: #DBD8D8;
	text-align: center;
	padding: 1em .5em;
	font-style: italic;
	border-left: 1px solid #131210;
	border-right: 1px solid #131210;
	border-bottom: 1px solid #131210;
}















